<div class="w-full text-black">
  <div class="w-full h-full xl:px-16 xs:px-8 flex gap-4 justify-center items-center">
    <div class="w-full">
      <h4 class="sm:text-2xl xs:text-md">
        Hello, My Name is
        <span class="text-cyan-800 sm:text-2xl xs:text-xl font-semibold">
          Fernan Gonzalez
        </span>
      </h4>
      <p class="mt-4 sm:text-lg xs:text-md">
        I'm an experienced full-stack developer with 7+ years of expertise in Laravel,
      </p>
      <div class="mt-12">
        <a href="/public/Fernan_Gonzalez_FullStack_en.pdf" target="_blank" class="p-2 px-8 mt-6 border-2 border-cyan-800 hover:border-cyan-200 text-black rounded-full">Resume</a>
        <a href="mailto:fernan7994@gmail.com" class="p-2 px-8 mt-6 border-2 border-cyan-800 hover:border-cyan-200 text-black rounded-full">Contact Me</a>
      </div>
    </div>
    <div class="hidden md:block mt-12">
      <img class="rounded-full" src="/public/images/curriculum-photo.jpg" alt="My Picture" />
    </div>
  </div>
</div>